:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 1px;
    /* box-shadow: 0 0 10px black; */
    /* background-color: var(--primary-color); */
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    position: relative;
    margin: 15px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article {
    position: absolute;
    max-width: 700px;
    margin: 10px;
    padding: 1px;
    background-color: yellow;
}

h2 {
    text-align: center;
    background-color: blue;
    opacity: 0.7;
    color: var(--secondary-color);
    padding: 10px;
}


.hero article img {
    /* position: relative; */
    float: right;
    width: 135px;
    margin: 10px;
}

.socialmedia a {
    text-decoration: none;
    width: 10px;
}