:root {
    --secondary-color: blue; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --achromaticic-color: #fff; /* white */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
    background-color: blue;
    padding: 10px;
    color: var(--achromaticic-color);
}

img {
    border: 2px solid #000;
}

#logo {
    color: var(--achromaticic-color);
}

#logo img{
    width: 200px;
    border: 3px solid rgb(176, 10, 10);
}

#logo a {
    background-color: rgb(20, 23, 21);
    text-decoration: none;
    padding: 10px;
    color: var(--achromaticic-color);
}

#logo a:hover {
    color: #b100fd;
}

main {
    text-align: center;
}

.container {
    position: relative;
    display: flex;
}

iframe {
    position: relative;
    top: 10px;
    width: 100%;
}

form {
    background-color: #ddd;
    color: #333;
    display: grid;
    margin: 10px;
    width: 50%;
}

p {
    text-align: center;
    margin: 1rem;
}


div {
    text-align: left;
    padding: 5px;
    margin:0 2rem;
}

.checkbx, .msg {
    text-align: left;
}



label {
    margin: 1rem;
}

input {
    padding: 7px;
}

textarea {
    margin: 0 1rem;
}

button {
    background-color: navy;
    border-radius: .5rem;
    color: var(--achromaticic-color);
    font-size: 1.2rem;
    margin: 1rem;
    padding: 10px;
}

.profimg, .tripimg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.profimg h2, .tripimg h2 {
    grid-column: span 3;
    background-color: #313102;
}

h1 {
    margin: 10px;
}

h2 {
    font-family: var(--heading-font);
    margin: 10px;
    text-align: center;
    background-color: var(--secondary-color);
    opacity: 0.7;
    color: var(--achromaticic-color);
    padding: 10px;
}

nav, p, section, article {
    position: relative;
    margin: 15px;
    padding: 8px;
}

.nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
}

#history {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
}

#history h2 {
    grid-column: span 4;
}

#history img {
    justify-content: space-evenly;
    margin: 10px auto;
    width: 180px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--achromaticic-color);
}
.hero article{
    position: absolute;
    bottom: 2rem;
    max-width: 700px;
    margin: 10px;
    padding: 1px;
    background-color: var(--accent2-color);
}


.hero article img {
    float: right;
    width: 125px;
    height: auto;
    margin: 10px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.image-gallery h2 {
    grid-column: span 5;
}

.socialmedia a {
    text-decoration: none;
    max-width: 10px;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: blue;
    color: var(--achromaticic-color);
}

table {
    border-collapse: collapse;
    border: 2px solid #000;
    font-family: sans-serif;
    margin: 10px;
}

thead th {
    border: 1px solid #111;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

tbody td, th {
    border: 2px solid #111;
    background-color: #29b0b0;
    color: #000;
    padding: 10px;
}