* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --width: 150px;
    --height: auto;
    --paddind: 2px;
    --box-shadow: 0 0 30px gray;
    --border: 1px solid black;
    --text-align: center;
}

nav {
    background-color: steelblue;
    padding: 1px;
}
nav a {
    /* this is a comment */
    color: white;
    display: block;
    padding: 10px;
}

main {
    max-width:660px;
}

h1 {
    color: steelblue;
    padding: .5rem;
}

img {
    width: var(--width);
    height: var(--height);
    border: var(--border);
    padding: var(--paddind);
    box-shadow: var(--box-shadow);
}

main img {
    width: 140px;
    height: var(--height);
    border: var(--border);
    padding: var(--paddind);
    box-shadow: var(--box-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / .2); /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    position: relative;
}

aside img {
    width: 250px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 115px;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding: 1rem 2rem;
}