:root {
    --width: 150px;
    --height: auto;
    --paddind: 2px;
    --box-shadow: 0 0 30px gray;
    --border: 1px solid black;
    --text-align: center;
}

nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    /* this is a comment */
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
}

h1 {
    color: darkblue;
}

img {
    width: var(--width);
    height: var(--height);
    border: var(--border);
    padding: var(--paddind);
    box-shadow: var(--box-shadow);
}

main img {
    width: var(--width);
    height: var(--height);
    border: var(--border);
    padding: var(--paddind);
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / .2); /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-align);
}