* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --width: 150px;
    --height: auto;
    --paddind: 2px;
    --box-shadow: 0 0 30px gray;
    --border: 1px solid black;
    --text-align: center;
    --color: steelblue;
}

nav {
    background-color: var(--color);
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    font-size: 1rem;
    margin: 10px;
    color: white;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #000;
    font-weight: 700;
}

nav a:hover {
    color: brown;
}

main {
    max-width:660px;
}

main img {
    width: 140px;
    height: var(--height);
    border: var(--border);
    padding: var(--paddind);
    box-shadow: var(--box-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

h1 {
    color: var(--color);
    padding: .5rem;
    border-bottom: 2px solid var(--color);
}

img {
    width: var(--width);
    height: var(--height);
    border: var(--border);
    padding: var(--paddind);
    box-shadow: var(--box-shadow);
}

p {
    padding: 1rem;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: auto 300px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / .2); /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    position: relative;
}

aside img {
    width: 250px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 115px;
}

footer {
    /* margin-top: 15px; */
    /* border-top: var(--border); */
    /* text-align: var(--text-align); */
    background-color: var(--color);
    color: #1d2226;
    padding: 2rem 1rem;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding: 1rem 2rem;
}